## Python Mongo_DB Assignment:

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

A. MongoDB:
    
    MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. 
    It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.
    
B. Non-relational databases:
    
    A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 
    Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. 
    For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.
    
C. When to use MongoDB over SQL database:
    
    In the case of unstructured data MongoDB is a good choice.

Q2. State and Explain the features of MongoDB.

1. Schema-less Database:
    
    It is the great feature provided by the MongoDB. 
    A Schema-less database means one collection can hold different types of documents in it. 
    Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. 
    It is not necessary that the one document is similar to another document like in the relational databases.
    Due to this cool feature, MongoDB provides great flexibility to databases.

2. Document Oriented: 
    
    In MongoDB, all the data stored in the documents instead of tables like in RDBMS. 
    In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. 
    And each document contains its unique object id.

3. Indexing: 
    
    In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. 
    If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4. Scalability: 
    
    MongoDB provides horizontal scalability with the help of sharding. 
    Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. 
    It will also add new machines to a running database.

5. Replication: 
    
    MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6. Aggregation: 
    
    It allows to perform operations on the grouped data and get a single result or computed result. 
    It is similar to the SQL GROUPBY clause. 
    It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

7. High Performance: 
    
    The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
## Python code to connect to Mongodb:

import pymongo

client = pymongo.MongoClient("mongodb+srv://akabhatt999:pwskills@cluster0.gvehsge.mongodb.net/?retryWrites=true&w=majority")
db = client.test

## Creating a database called test1:
db1 = client['test1']

## Creating a collection in above test1 databse:
coll_create = db1['my_records']

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. 
    Use the find() and find_one() methods to print the inserted record.

In [2]:
data = {
    "name" : "Aakash Bhatt",
    "class": "Data Science Masters",
    "timing" : "flexi"
}

data3 = [
      { "name": "Amy", "address": "Apple st 652" },
      { "name": "Hannah", "address": "Mountain 21" },
      { "name": "Michael", "address": "Valley 345" },
      { "name": "Sandy", "address": "Ocean blvd 2" },
      { "name": "Betty", "address": "Green Grass 1" },
      { "name": "Richard", "address": "Sky st 331" },
      { "name": "Susan", "address": "One way 98" },
      { "name": "Vicky", "address": "Yellow Garden 2" },
      { "name": "Ben", "address": "Park Lane 38" },
      { "name": "William", "address": "Central st 954" },
      { "name": "Chuck", "address": "Main Road 989" },
      { "name": "Viola", "address": "Sideway 1633" }
]

In [3]:
### Python code to insert one records:
coll_create.insert_one(data)

In [4]:
### Python code to insert many records:
coll_create.insert_many(data3)

In [5]:
### Python code to print all the records in collection usind find():
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f1d648a7a63aabdd0706f7'), 'name': 'Aakash Bhatt', 'class': 'Data Science Masters', 'timing': 'flexi'}
{'_id': ObjectId('63f1d660a7a63aabdd0706f8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f1d660a7a63aabdd0706f9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fa'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fe'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f1d660a7a63aabdd0706ff'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f1d660a7a63aabdd070700'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f1d660a7a63aabdd070701'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f1d660a7a63aabdd070702'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f1d660a7a63aabdd070703'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [6]:
### Python code to print only single record from the collection using find_one():
coll_create.find_one()

{'_id': ObjectId('63f1d648a7a63aabdd0706f7'),
 'name': 'Aakash Bhatt',
 'class': 'Data Science Masters',
 'timing': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

A. Find():
    
    We can use find() method to fetch all the records from collections of Mongodb.
    It is nothing the select * query in MYSQL databases.
    Find() function gives us the all the records in the form of objects and we need to itrerate them one by one to print it in python.
    synatx: collection_object_name.find()
    
B. Exmple of find() below:

In [7]:
## coll_create is my collection_object_name
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f1d648a7a63aabdd0706f7'), 'name': 'Aakash Bhatt', 'class': 'Data Science Masters', 'timing': 'flexi'}
{'_id': ObjectId('63f1d660a7a63aabdd0706f8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f1d660a7a63aabdd0706f9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fa'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f1d660a7a63aabdd0706fe'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f1d660a7a63aabdd0706ff'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f1d660a7a63aabdd070700'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f1d660a7a63aabdd070701'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f1d660a7a63aabdd070702'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f1d660a7a63aabdd070703'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

A. Sort():
    
    The sort() method specifies the order in which the query returns the matching documents from the given collection. 
    You must apply this method to the cursor before retrieving any documents from the database. 
    It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. 
    The value is 1 or -1 specify an ascending or descending sort respectively.

    If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
    If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
    MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
    We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
    MongoDB can find the result of the sort operation using indexes.
    If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.
    Syntax:

    db.Collection_Name.sort({filed_name:1 or -1})
    
B. Example Below:

In [14]:
### Python code to demonstarte sort() in mongodb:
#Creating a collection
colll = db1['myColll']

#Inserting document into a collection
data = [
   {"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "1002", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "1003", "name": "Robert", "age": "28", "city": "Mumbai"},
   {"_id": "1004", "name": "Romeo", "age": 25, "city": "Pune"},
   {"_id": "1005", "name": "Sarmista", "age": 23, "city": "Delhi"},
   {"_id": "1006", "name": "Rasajna", "age": 26, "city": "Chennai"}
]
res = colll.insert_many(data)
print("Data inserted ......")

#Retrieving first 3 documents using the find() and limit() methods
print("List of documents (sorted in ascending order based on age): ")

for doc1 in colll.find().sort("age",-1):
    print(doc1)

Data inserted ......
List of documents (sorted in ascending order based on age):
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

A. delete_many():
    
    Delete_many() is used when one needs to delete more than one document. 
    A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
    syntax: collection.delete_many(filter, collation=None, hint=None, session=None)
    
B. delete_one():
    
    A single document can be deleted by the method delete_one(). 
    The first parameter of the method would be a query object which defines the document to be deleted. 
    If there are multiple documents matching the filter query, only the first appeared document would be deleted. 
    
C. drop():
    
    It is used to drop the collection so that data indexes are also removed and then create a new collection in that insert data.

In [16]:
### Python code to demonstarte delete_many():

import pymongo

client = pymongo.MongoClient("mongodb+srv://akabhatt999:pwskills@cluster0.gvehsge.mongodb.net/?retryWrites=true&w=majority")

# Connecting to the database
mydb = client["test3"]
 
# Connecting the to collection
col = mydb["my_records"]

#Inserting document into a collection
data = [
   {"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "1002", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "1003", "name": "Robert", "age": "28", "city": "Mumbai"},
   {"_id": "1004", "name": "Romeo", "age": "25", "city": "Pune"},
   {"_id": "1005", "name": "Sarmista", "age": "23", "city": "Delhi"},
   {"_id": "1006", "name": "Rasajna", "age": "26", "city": "Chennai"},
   {"_id": "1007", "name": "Aakash", "age": "28", "city": "Mumbai"},
   {"_id": "1008", "name": "Vikash", "age": "28", "city": "Mumbai"}
]

res = col.insert_many(data)
print("Data inserted ......")

query = {"age": '28'}
d = col.delete_many(query)
print(d)

Data inserted ......
<pymongo.results.DeleteResult object at 0x7f0ce81b2e00>

In [17]:
### Checking the results of delete_many():
for i in col.find():
    print(i)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1004', 'name': 'Romeo', 'age': '25', 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': '23', 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': '26', 'city': 'Chennai'}

In [18]:
### Example of delete_one():
query = {"name":"Sarmista"}
col.delete_one(query)

# print collection after deletion:
for x in col.find():
    print(x)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1004', 'name': 'Romeo', 'age': '25', 'city': 'Pune'}
{'_id': '1006', 'name': 'Rasajna', 'age': '26', 'city': 'Chennai'}

In [19]:
### Example of drop():
col.drop()