Q1. What is a database? Differentiate between SQL and NoSQL databases.

I. Database:
    
    A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
    
    A database is usually controlled by a database management system (DBMS). 
    
    Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.
    
II. Difference between SQL and NoSQL:
    
    A. SQL:
        
        i. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
        ii. These databases have fixed or static or predefined schema.
        iii. These databases are not suited for hierarchical data storage.
        iv. These databases are best suited for complex queries.
        v. It is Vertically Scalable.
        vi. It Follows ACID property.
        vii. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
        
    B. NoSQL:
        
        i. Non-relational or distributed database system.
        ii. They have dynamic schema.
        iii. These databases are best suited for hierarchical data storage..
        iv. These databases are not so good for complex queries.
        v. Horizontally scalable.
        vi. It Follows CAP(consistency, availability, partition tolerance).
        vii. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

I. DDL:
    
    Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
    
    DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
    
II. Command Usage with example:
    
        a. Create:
            
            This command is used to create a new table in SQL. 
            The user has to give information like table name, column names, and their datatypes.
            Example:
                CREATE TABLE Student_info
                (
                College_Id number(2),
                College_name varchar(30),
                Branch varchar(10)
                );
                
        b. Alter:
            
            This command is used to add, delete or change columns in the existing table. 
            The user needs to know the existing table name and can do add, delete or modify tasks easily.
            Example:
               ALTER TABLE Student_info
               ADD CGPA number;
                
        c. Trauncate:
            
            This command is used to remove all rows from the table, but the structure of the table still exists.
            Example:
                TRUNCATE TABLE Student_info;
                
        d. Drop:
            
            This command is used to remove an existing table along with its structure from the Database.
            Example:
                DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

I. DML:
    
    DML stands for Data Manipulation Language. 
    
    Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. 
    
    We will also need the Data Manipulation Language in that situation. 
    
    DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. 
    
    When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.
    
II. Commands used in DML:
    
    A. Insert:
        
        This command is used to enter the information or values into a row. 
        We can connect one or more records to a single table within a repository using this instruction. 
        This is often used to connect an unused tag to the documents.
        Example:
            INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
            VALUES ('1', 'Nirmit', 'Gorakhpur');
            
    B. Update:
        
        This command is used to alter existing table records. Within a table, it modifies data from one or more records. 
        This command is used to alter the data which is already present in a table.
        Example:
            UPDATE students
            SET due_fees = 20000
            WHERE stu_name = 'Mini';
        
    C. Delete:
        
        It deletes all archives from a table. 
        This command is used to erase some or all of the previous table’s records. 
        If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
        Example:
            DELETE FROM students
            WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

I. DQL:
    
    Data query language (DQL) is part of the base grouping of SQL sub-languages. 
    These sub-languages are mainly categorized into four categories: a data query language (DQL), a data definition language (DDL), a data control language (DCL), and a data manipulation language (DML). 
    Sometimes a transaction control language (TCL) is argued to be part of the sub-language set as well.
    DQL statements are used for performing queries on the data within schema objects. 
    The purpose of DQL commands is to get the schema relation based on the query passed to it.
    
II. Select Command:
    
    This command is used to get data out of the database. 
    It helps users of the database to access from an operating system, the significant data they need. 
    It sends a track result set from one tables or more.
    example:
        SELECT * 
        FROM students;

        OR

        SELECT * 
        FROM students
        where due_fees <=20000;

Q5. Explain Primary Key and Foreign Key.

A. Primary Key:
    
    A primary key is used to ensure that data in the specific column is unique. 
    A column cannot have NULL values. 
    It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
    Example:
        STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

B. Foreign Key:
    
    A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
    It is a column (or columns) that references a column (most often the primary key) of another table.
    Example:
        STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

A. Python Code to connect MYSQL to Python:
    
    import mysql.connector

    mydb = mysql.connector.connect(
      host="localhost",
      user="abc",
      password="password"
    )

    print(mydb)

    mycursor = mydb.cursor()
    mycursor.execute("SQL statement need to be executed.")
    
B. i. cursor: Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
    
   ii. execute: The execute() methods run the SQL query and return the result.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.